img, embed, object, video { 
	max-width:100%;
 }

body {
	text-align: center;
}
table {
	display:inline-block;
	width:100%;
	table-layout:fixed;
}
table, th, td {
	margin: 0 auto;
	border: 1px solid black;
}
th, td {
	border:1px solid black;
	width:14%;
	font-size:3.0vw;
}
.verse, .index{
	font-style:italic;
	font-family:cursive;
	font-weight:bold;
}

@media screen and (max-width:549px) {
	.wed {
		font-size:2.5vw;
	}
	.verse, .index {
		font-size:4vw;
	}
	h2 {
		font-size:5vw;
	}
}

@media screen and (min-width:400px) and (max-width:549px){
	.verse, .index {
		font-size:13pt;
	}
}
@media screen and (min-width:500px) {
	.verse, .index {
		font-size:13pt;
	}
	table {
		width:500px;
	}
	th, td {
		font-size:10pt;
	}
	h2 {
		font-size:18pt;
	}
}

#jan {
	background-color: lightgreen;
}
#feb {
	background-color: yellow;
}
#march {
	background-color: violet;
}
#april {
	background: aqua;
}
#may {
	background: lime;
}
#june {
	background: crimson;
}
#june1 {
	background-color: lightblue;
}
#july {
	background-color: yellow;
}
#august {
	background-color: orange;
}
#september {
	background-color: purple;
}
#october {
	background-color:tan;
}
#november {
	background-color:gold;
}
#december {
	background-color:lightgray;
}