body {
	/*background-color:powderblue;*/
	text-align: center;
}
h1 {color:rgb(43, 29, 14);}
h3 {
	color:rgb(43, 29, 14);
}
a:link {
	color:green;
}
a:visited {
	color:blue;
}
a:unvisited{
	color:red;
}
a:hover {
	color:brown;
}
table, th, td {
	table-layout: auto;
	margin: 0 auto;
	style:width:50%;
}
table {
	border:1px solid black;
}
th {
	border:1px solid black;
	padding:2px;
	font-size:80%;
}
td {
	border:1px solid black;
	padding:2px;
	wdith: 20%;
}

#jan {
	background-color: lightgreen;
}
#feb {
	background-color: yellow;
}
#march {
	background-color: violet;
}
#april {
	background: aqua;
}
#may {
	background: lime;
}
#june {
	background: crimson;
}
#june1 {
	background-color: lightblue;
}
#july {
	background-color: yellow;
}
#august {
	background-color: orange;
}
#september {
	background-color: purple;
}
#header {
	border: 1px solid white;
	width:80%;
	padding:5px;
}